* * {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html {
  font-size: 18px;
}

body {
  display: flex;
}

#my-canvas {
  border: black 2px solid;
  width: 400px;
  height: 500px;
  margin-right: 50px;
  margin-left: calc(50vw - 300px);
}


.tetris {
  &__title {
    font-size: 3rem;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  &__data {
      .tetris__score, .tetris__lines, .tetris__level {
        display: inline;
      }
    .tetris__container {
      margin-bottom: 1rem;
    }
  }
  &__play {
    border: 1px black solid;
    padding: 1rem 2rem;
    background-color: aquamarine;
    cursor: pointer;
  }
}